.form-pane {
  margin: auto !important;
  max-width: 750px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  padding: 10% !important;
}

.form-grid {
  background-color: var(--ion-color-primary) !important;
  border-radius: 10px !important;
  padding: 5% !important;
}

.form-input {
  border-radius: 10px !important;
}

#signup-output, #login-output, #add-output {
  border-radius: 10px !important;
  display: none !important;
}

.center-buttons {
  justify-content: center !important;
}

.trans-background {
  background-color: transparent !important;
}

.image-slider {
  height: 500px !important;
  width: 500px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.vehicle-col {
  width: 750px;
}