html {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

a {
    color: #000;
}

.form {
    background-color: #ffb04c;
    padding: 2%;
    width: 15%;
    min-width: 250px;
    margin: 15% auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #bc5100;
}

#error {
    color: red;
}

.banner {
    width: 100%;
    margin-bottom: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #bc5100;
}

input:focus {
    outline: none;
    border: 5px solid #bc5100;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 3%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #bc5100;
    font-size: 15px;
}

input.submit {
    border: none;
    background-color: #f57f17;
    margin-bottom: 0px;
    color: #fff;
}

input.submit:hover {
    background-color: #bc5100;
}

ul {
    display: inline-table;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #607d8b;
}

li a:hover {
    background-color: #000;
}